.hero-text,
.sotb {
  color: #e6a4b4;
}

body {
  scroll-behavior: smooth;
}

#read-more {
  cursor: pointer;
}

.hero-text {
  animation: scaleRight 3.2s ease 0s normal forwards;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1s;
  animation: scaleRight 3.2s ease 0s normal forwards;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.shapes::after {
  content: "";
  border-top-left-radius: 30% 60%;
  border-top-right-radius: 30% 60%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #fff8e3;
  height: 120%;
}

#price {
  margin-top: 6rem;
}

@keyframes scaleRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767.98px) {
  #icons {
    display: flex;
    flex-direction: column;
  }
  .shapes::after {
    content: "";
    border-top-left-radius: 30% 35%;
    border-top-right-radius: 30% 35%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    bottom: 0;
    top: 10%;
    z-index: -1;
    width: 100%;
    background-color: #fff8e3;
    height: 100%;
  }
}
