.hero-text,
.sotb {
  color: #fff8e3;
}

.black {
  color: #020202;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
.kue {
  position: absolute;
  z-index: 0;
  top: 14%;
  right: 0%;
  width: 30%;
}
#collapsible-nav-dropdown {
  z-index: 100;
}

.content-hero {
  position: absolute;
  left: 0%;
}
#read-more {
  cursor: pointer;
}

.hero-text {
  animation: scaleRight 3.2s ease 0s normal forwards;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1s;
  animation: scaleRight 3.2s ease 0s normal forwards;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#price {
  margin-top: 11rem;
}

@keyframes scaleRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767.98px) {
  #icons {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 6rem;
  }
  #price {
    margin-top: 4rem;
  }
  .kue {
    display: none;
  }
  .sotb {
    color: #020202;
  }
}
